.sidebar {
    background: var(--primeColor);
    overflow-y: auto;
    border: 1px solid #7b7373d9;
    border-radius: 0.3rem;
}

.main-content {
    overflow-y: auto !important;
}

#sidebarItems>li>a:hover,
:focus {
    background: #bcbcbc6e;
    border-radius: 0.3rem;
}

.active {
    background: #bcbcbc6e;
    border-radius: 0.3rem;
}


#mainContent>div:nth-child(2)>div:nth-child(2)>div>div>a {
    color: #000;
    font-size: 24px;
}