.radio-buttons {
    display: flex;
    width: 100%;
    justify-items: flex-start;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;

}

.radio-button {
    padding: 1.3rem;
    cursor: pointer;
    margin: 0 !important;
    font-weight: bold;
}

.hidden-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.white-button.radio-button.active {
    background-color: var(--primeColor) !important;
    color: #fff !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
}

.card:hover .overlay {
    opacity: 1;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.button-group-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.button-footer {
    position: relative;
    cursor: pointer;
}

.button-footer:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ccc;
    right: -1.5rem;
    top: 0;
}

.button-group-footer-row .button-footer:last-child:after {
    content: none;
}

.button-group-footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.copyright {
    color: #c5c5c5;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    position: relative;
    text-align: center;
}

.ico_foot_logo {
    background-position: -447px -1046px;
    background-repeat: no-repeat;
    height: 36px;
    width: 100px;
}