html {
    --secondaryColor: #838383;
    --primeColor: #ff9423;
}

*::-webkit-scrollbar {
    width: 11px !important;
}

*::-webkit-scrollbar-track {
    background: var(--secondaryColor) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primeColor) !important;
    border-radius: 6px !important;
    border: 3px solid var(--secondaryColor) !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    display: none;
    padding: 8px 14px;
    background-color: var(--primeColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


body {
    scrollbar-width: thin;
    scrollbar-color: var(--primeColor) var(--secondaryColor);
    background: #f4f4f4;
}



.left-item {
    justify-content: end !important;
}

.half-width {
    width: 50% !important;
}

.control-field {
    width: 100% !important;
    padding: 10px !important;
    margin-top: 10px !important;
}

.control-field label {
    width: 100% !important;
    display: block !important;
    padding: 10px !important;
}


.control-field input {
    width: 100% !important;
    display: block !important;
    padding: 6px !important;
    font-size: 20px !important;
}

.orange-hover:hover {
    color: #ff9423 !important;
}

.black-button {
    color: #fff !important;
    background: #151515 !important;

}

.white-button {
    color: var(--secondaryColor) !important;
    background: #fff !important;
}

.white-button:hover {
    color: #fff !important;
    background: #ddcfcf !important;
}


.rounded-button {
    border: 1px solid #b4b4b4 !important;
    border-radius: 17px !important;
    padding: 0.7rem 1rem !important;
    text-align: center;
}

.rounded-button:hover {
    opacity: 0.8 !important;
}

.width-100-percent {
    width: 100% !important;

}

.pointer {
    cursor: pointer;
}

.f-1-2 {
    font-size: 1.2rem;
}

.radio-buttons {
    display: flex;
    width: 100%;
    justify-items: flex-start;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;

}

.radio-button {
    padding: 1.3rem;
    cursor: pointer;
    margin: 0 !important;
    font-weight: bold;
}

.hidden-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.white-button.radio-button.active {
    background-color: var(--primeColor) !important;
    color: #fff !important;
}

.card-title {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    padding: 5px;
}

.add-favourite-btn {
    position: absolute;
    z-index: 3;
    top: 4%;
    right: 3%;
    color: var(--primeColor);
}

.add-favourite-btn:hover {
    color: var(--secondaryColor);
    cursor: pointer;
}